/*@mixin medium {
    @media screen and (min-width:768px) {
        @content;
    }
}

@mixin large {
    @media screen and (min-width:960px) {
        @content;
    }
}*/
html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  background-color: #E8E1D1;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

h2 {
  font-size: clamp(1.75rem, 8vw, 3.5rem);
}

a {
  color: #4A3A2B;
  font-weight: 700;
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1040px;
  padding: clamp(10px, 3vw, 20px);
  padding-top: 0;
  /* @include mx.media-min(900px) {
       padding: v.$spacer;
   }*/
}

.border {
  background-color: #EDE9E0;
  height: 100vh;
  width: 100vw;
  min-height: 700px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 450px) {
  .border {
    border: 10px solid #C53607;
  }
}

.header {
  max-width: 1040px;
  margin: 0 auto;
}

.contact-bar {
  position: absolute;
  top: 10px;
  right: 10px;
}
@media screen and (min-width: 900px) {
  .contact-bar {
    top: 20px;
    right: 20px;
  }
}
.contact-bar__icon img {
  padding-left: 3px;
  padding-bottom: 5px;
  width: 12vw;
  min-width: 45px;
  max-width: 55px;
}
.contact-bar__icon img:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 900px) {
  .contact-bar__icon img {
    display: block;
  }
}

.logo__img {
  display: inline-block;
  margin-top: clamp(10px, 1vw, 20px);
  width: 12vw;
  min-width: 70px;
  max-width: 100px;
  z-index: 2;
}
.logo__img:hover {
  transform: scale(1.1);
}

.menu {
  text-align: center;
  padding: 10px 0;
  background-color: #4A3A2B;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
@media screen and (min-width: 900px) {
  .menu {
    display: none;
  }
}
.menu__icon {
  padding-bottom: 2px;
}
@media screen and (min-width: 900px) {
  .menu__icon {
    display: none;
  }
}
.menu__item {
  font-size: 14px;
  color: #EDE9E0;
}
@media screen and (min-width: 900px) {
  .menu__item {
    display: none;
  }
}
.menu__item:hover {
  transform: scale(1.2);
}
@media screen and (min-width: 900px) {
  .menu__item:hover {
    transform: none;
    border: 2px solid #4A3A2B;
  }
}

.menu-large {
  display: none;
}
@media screen and (min-width: 900px) {
  .menu-large {
    display: flex;
    margin: -60px auto 0 auto;
    max-width: 650px;
    color: #4A3A2B;
    background-color: #EDE9E0;
    justify-content: center;
  }
}
.menu-large__item {
  display: none;
}
@media screen and (min-width: 900px) {
  .menu-large__item {
    display: inline-block;
    padding: 10px 20px;
    color: #4A3A2B;
    background-color: #EDE9E0;
    border: 2px solid #EDE9E0;
    font-size: 24px;
    text-align: center;
    flex: 1;
  }
  .menu-large__item:hover {
    transform: scale(1.1);
    border: 2px solid #4A3A2B;
  }
}

.hero {
  height: 450px;
  max-width: 1040px;
  margin: 0 auto;
}
.hero__box {
  padding: 0 20px;
  margin: 40px 0;
}
@media screen and (min-width: 900px) {
  .hero__box {
    margin-top: clamp(1px, 50%, 150px);
  }
}
.hero__text {
  flex: 1;
}
.hero__title {
  display: inline-block;
}
.hero__title--dont {
  font-family: "Inter", sans-serif;
  font-size: clamp(2.3rem, 7vw, 3.2rem);
  font-weight: 400;
  color: #C53607;
}
.hero__title--adopt {
  font-family: "Outfit", sans-serif;
  font-size: clamp(4.8rem, 12vw, 6rem);
  font-weight: 500;
  color: #4A3A2B;
  line-height: 1;
  border-bottom: 2px solid #4A3A2B;
}
.hero__sentence {
  font-size: 14px;
  font-weight: 700;
  color: #4A3A2B;
  padding: 20px 0;
}
.hero__img {
  position: absolute;
  bottom: 71px;
  right: 0;
  width: 50vw;
  min-width: 350px;
  max-width: 650px;
}
@media screen and (min-width: 900px) {
  .hero__img {
    bottom: 0;
  }
}

.actions {
  margin-top: clamp(10px, 5vw, 40px);
  padding: 0 40px;
}
@media screen and (min-width: 700px) {
  .actions {
    display: flex;
    gap: 20px;
    padding: 0;
  }
}

.button {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  color: #4A3A2B;
  border: 2px solid #4A3A2B;
  padding: 10px 20px;
  flex: 1;
}
.button:hover, .button:active {
  color: #EDE9E0;
  background-color: #4A3A2B;
  border: 2px solid #4A3A2B;
}

.action {
  background-color: #EDE9E0;
  padding: clamp(20px, 3vw, 40px);
  margin-top: clamp(10px, 5vw, 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 450px) {
  .action {
    flex: 1;
    flex-direction: row;
    align-items: center;
    padding: 20px 80px;
  }
}
@media screen and (min-width: 700px) {
  .action {
    flex-direction: column;
    align-items: center;
    flex: 1 1 33.3333333333%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.action__link {
  align-self: center;
  flex: 1;
}
.action__img {
  width: 8vw;
  min-width: 55px;
  max-width: 90px;
}/*# sourceMappingURL=style.css.map */