@use '../base/variables' as v;
@use '../base/base';


.hero {
    height: 450px;
    max-width: 1040px;
    margin: 0 auto;

    &__box {
        padding: 0 v.$spacer;
        margin: v.$spacer-double 0;
    }

    &__text {
        flex: 1;
    }


    &__title {
        display: inline-block;
    

        &--dont {
            font-family: v.$font-special-2;
            font-size: 38px;
            font-weight: 400;
            color: v.$color-primary-400;
        }

        &--adopt {
            font-family: v.$font-special;
            font-size: 68px;
            font-weight: 500;
            color: v.$color-secondary-400;
            line-height: 1;
            border-bottom: 2px solid v.$color-secondary-400;
        }
    }

    &__sentence {
        font-size: 14px;
        font-weight: 700;
        color: v.$color-secondary-400;
        padding: v.$spacer 0;
    }

    &__img {
        position: absolute;
        bottom: 59px;
        right: 0;
        width: 350px;
        //width: minmax(350px, 665px);
    }
}
