@use '../base/variables' as v;
@use '../base/mixins';
@use '../base/base';

.menu {
    text-align: center;
    padding: v.$spacer-half 0;
    background-color: v.$color-secondary-400;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    //@include grid;


    &__item {
        padding: 0;
        font-size: 14px;
        color: v.$color-background-sections;

        &:hover {
            color: v.$color-primary-400;
        }
    }


    &__icone img {
        fill: v.$color-primary-400;
    }
}

img.menu__icone {
    fill: v.$color-primary-400;
}


/*.grid-five-columns {
    @include grid(5);
}*/

