@use '../base/variables' as v;
@use '../base/base';

.menu {
    margin: v.$spacer auto;
    text-align: center;

    &__checkbox {
        position: absolute;
        left: -9999px;
    }

    &__checkbox:checked ~ .menu__item {
        display: block;
    }
    
    &__toggler {
        cursor: pointer;
        font-size: 40px;
        padding-left: v.$spacer-half;
    }

    &__item {
        display: block;
        padding: v.$spacer-half v.$spacer;
        font-size: 20px;
        border-bottom: 1px solid v.$color-secondary-400;

        &:hover {
            color: v.$color-background-sections;
            background-color: v.$color-secondary-400;
        }
    }
}

