@use '../base/variables' as v;
@use '../base/mixins' as mx;
@use '../base/base';

// sekce s odstavci

.text {
    background-color: v.$color-background-sections;
    box-shadow: v.$shadow;
    padding: clamp(v.$spacer-half, 5vw, v.$spacer-medium);
    margin-bottom: clamp(v.$spacer, 6vw, v.$spacer-medium);

    p:first-child {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }

    &__paragraph {
        color: v.$color-secondary-400;
        font-weight: bold;
        line-height: 1.5;
        margin: clamp(v.$spacer, 3vw, v.$spacer-double);
    }

    &__link {
        text-decoration: underline;

        &:hover {
            color: v.$color-primary-400;
        }
    }

    &__color-primary {
        color: v.$color-primary-400;
    }
}