//colors

$color-primary-400: #C53607;
$color-primary-300: #F1BEAD;
$color-secondary-400: #8C9B7A;
$color-secondary-300: #BDCAAE;
$color-accent-400: #4A3A2B;

$color-white: #FFFFFF;
$color-grey-500: #333333;
$color-grey-700: #171717;
$color-black: #121212;

//fonts

$font-body: 'Roboto', sans-serif;       //400, 500, 700, 400 italic
$font-special: 'Outfit', sans-serif;    //500 Hlavní nadpis v Hero sekci

// other

$spacer: 20px;
$spacer-half: 10px;